body {
    background: linear-gradient(rgba(218, 217, 217, 0.514), rgba(151, 143, 143, 0.671)), url('../IMG/2WQTO6P2ZBFKZCTNWTEFEMPX5M.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/*Cambio de tipografia del botón verde*/
    .btn-font-custom {
    font-family: 'comicB' ;
        src: url('../FONTS/Comic_Relief/ComicRelief-Bold.ttf'); 
}

/* Color personalizado solo para el texto de Formación Académica */
.titulo-formacion {
    color: rgb(0, 0, 0) !important; 
    margin-bottom: 0;
}

/* Para que las imágenes se vean del mismo tamaño*/
.img-galeria {
    width: 100%;
    height: 180px; 
    object-fit: cover;
    border: 1px solid rgba(255,255,255,0.2);
}

p.fcomicB {
    color: rgb(0, 0, 0) !important; /* Cambia aquí el color de los textos de las cajas */
}